
#logo {
    margin-top:2rem;
    display:flex;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width: 268px;
}
/*barre de recherche*/
#search-bar {
    width:1240px;
    position: relative;
    height: 69px;
    border-radius:5px;
    background-color:#E7E7E7 ;
    display: flex;
    flex-direction: row;
    border:none;
    margin-top: 2rem;
    margin-bottom:2rem;
    margin-left:auto;
    margin-right:auto
}
::placeholder {
    font-size: 24px;
    padding-left: 24px;
    opacity: 25%;
    vertical-align: middle;
}
/*icone loupe*/
.fa-magnifying-glass {
    position: absolute;
    font-size: 35px;
    top: 173px;
    right: 350px;
    z-index: 3;
    color: black;
}
/*selecteurs*/
 ul, li{
    list-style-type:none;
}
.search-fields ul {
    position: absolute;
}
.search-fields  li {
    position: relative;
    left:-1rem;
    
}
.appareils {
    background-color: #68D9A4;
    width: 170px;
    height: 60px;
    border-radius: 5px;
    margin-left:2rem;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
}

.ustensiles {
    background-color: #ED6454;
    width: 170px;
    height: 60px;
    border-radius: 5px;
    margin-left:2rem; 
    font-size: 18px;
   
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
}

.ingredients {
    background-color: #3282F7;
    width: 170px;
    height: 60px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: left;
    color: white;
}
.ingredient-bold {
    font-weight: 700;
}
.search-fields {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
    
}
.appareils>ul {
    background-color: #68D9A4;
}
.appareils>ul>li {
    background-color: #68D9A4;
}
.ustensiles>ul {
    background-color:#ED6454 ;
}
.ustensiles>ul> li {
    background-color:#ED6454 ;
}
.ingredients>ul {
    background-color:#3282F7 ;
}
.ingredients>ul>li {
    background-color:#3282F7 ;
}
.fa-chevron-down {
    margin-right:1rem;
    position: relative;
    right:-2rem;
}
.ingredients .fa-chevron-down {
    right:-1.3rem;
}
/*card*/
.cards-flex {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.cards {
    height: 364px;
    width: 1240px;
    border-radius:5px;
    margin-top:2rem;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-up {
    height: 178px;
    width: 380px;
    background-color: #C7BEBE;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.card-down {
    height: 178px;
    width: 380px;
    background-color: #E7E7E7;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;;
}
.card-down-vertical {
    display:flex;
    height: 170px;;
    flex-direction: row;
    padding-left:1rem;
    padding-right:2rem;
    justify-content: space-between;
    background-color: #E7E7E7;
    text-overflow: ellipsis;
    overflow: hidden;
}
.card-down-vertical-left {
    padding-right:2rem;
    height: 170px;
    font-weight: 400;
    font-size:12px;
    width: 190px;
    font-family: 'Lato', sans-serif;
    padding-bottom: 1rem;
}
.card-down-vertical-left ul {
    padding-left:0;
}

.card-down-vertical-left h2 {
    font-weight: 400;
    font-size:18px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
}
.card-down-vertical-right {
    width: 190px;
    font-weight: 400;
    font-size:12px;
    font-family: 'Roboto', sans-serif;
}
.card-down-vertical-right h2 {
    font-weight: 700;
    font-size:18px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
}

.flex-h2-time {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.fa-clock {
    margin-right: 1rem;
    font-size: 20px;
    margin-top:16px;
}